@use './styles/variables' as *;
@use './styles/reset' as *;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;

  h1 {
    font-size: $font-size-header;
    font-weight: 400;
    color: $blanco;
    max-width: $max-width;
    width: 100%;
    padding: $grid *2 0;
  }
}