// Colors
$negro: #1a1a1a;
$blanco: #ffffff;
$blanco50: rgba(255, 255, 255, 0.5);
$blanco20: rgba(255, 255, 255, 0.2);
$blanco10: rgba(255, 255, 255, 0.1);

// Font
$font-family: 'Roboto', sans-serif;
$font-size-base: 24px;
$font-size-header: 36px;

// Grid
$grid: 8px;
$border-radius: 4px;
$max-width: 512px;